page-home {
    div.mainimg{
        margin-top: 80px;
        text-align: center;
        color: #fff;
    }
    .fixed-content{
        background-image:url(../img/back.png);
        background-size: contain;
    }
}
